<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Smart Resto</title>

  <!-- RESET CSS -->
  <link rel="stylesheet" type="text/css" href="css/reset.css" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Leaflet's CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <!-- Leaflet's JS -->
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
  <script src="js/index.js"></script>

  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>


<body class="bg-dark">

  <!--NAVBAR-->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand fonttitle ml-3 mr-5" id="brand" href="/">S-R</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor" data-toggle="modal" data-target="#exampleModalCenter">Reserveren</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor" data-toggle="modal" data-target="#exampleModalCenter1">Reservaties</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Menu</a>
        <div class="dropdown-menu dropdown-menu-right text-right">
          <a class="dropdown-item" href="#">About</a>
          <a class="dropdown-item" href="#">Contact</a>
        </div>
      </li>
    </ul>
  </nav>

  <!--TITLE-->

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <hr class="bg-white mb-0">
      <h1 class="display-1 fonttitle text-center">Smart Resto</h1>
      <hr class="bg-white mt-0">
    </div>
    <div class="col-md-4"></div>
  </div>


  <!--CAROUSEL-->

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <!--Carousel Wrapper-->
      <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-2" data-slide-to="1"></li>
          <li data-target="#carousel-example-2" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="view">
              <img class="d-block w-100"
                src="https://ccr-website.azureedge.net/ccr-website-prod/images/default-source/galleryimages/salads-at-the-cafe-1545852448.png?sfvrsn=5d919fd9_0"
                alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <a class="btn btn-primary btn-lg rounded" data-toggle="modal"
                  data-target="#exampleModalCenter">Reserveren</a>
                <a class="btn btn-secondary btn-lg rounded" data-toggle="modal"
                  data-target="#exampleModalCenter1">Reservaties</a>
              </div>
              <div class="mask rgba-black-light"></div>
            </div>
          </div>
          <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
              <img class="d-block w-100"
                src="https://www.marketplacediner.com/uploads/4/9/2/0/49205045/2367804_orig.jpg" alt="Second slide">
              <div class="carousel-caption d-none d-md-block">
                <a class="btn btn-primary btn-lg rounded" data-toggle="modal"
                  data-target="#exampleModalCenter">Reserveren</a>
                <a class="btn btn-secondary btn-lg rounded" data-toggle="modal"
                  data-target="#exampleModalCenter1">Reservaties</a>
              </div>
              <div class="mask rgba-black-strong"></div>

            </div>
          </div>

          <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
              <img class="d-block w-100"
                src="https://www.tft-mag.com/wp-content/uploads/2016/10/Westend-Steak-and-Fish-Factory-Food.jpg"
                alt="Third slide">
              <div class="carousel-caption d-none d-md-block">
                <a class="btn btn-primary btn-lg rounded" data-toggle="modal"
                  data-target="#exampleModalCenter">Reserveren</a>
                <a class="btn btn-secondary btn-lg rounded" data-toggle="modal"
                  data-target="#exampleModalCenter1">Reservaties</a>
              </div>
              <div class="mask rgba-black-slight"></div>
            </div>
          </div>
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
      </div>
      <!--/.Carousel Wrapper-->
    </div>
    <div class="col-md-2"></div>
  </div>




  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Pick a date & time!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="">
            <p>Datum:</p>
            <input type="date" id="datepicker" name="day"><br>
            <br>
            <p>Aantal mensen:</p>
            <select class="form-control" id="exampleSelect1">
              <option value="1" selected="selected">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
            <br>

            <p>Select a time:</p>
            <div>
              <div class="row mb-4">
                <div class="col-sm-4">
                  <p><input type="radio" name="time" value="11u"> 11u</p>
                </div>
                <div class="col-sm-4">
                  <p><input type="radio" name="time" value="11u30"> 11u30</p>
                </div>
                <div class="col-sm-4">
                  <p><input type="radio" name="time" value="11u30"> 12u</p>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-sm-4">
                  <p><input type="radio" name="time" value="12u30"> 12u30</p>
                </div>
                <div class="col-sm-4">
                  <p><input type="radio" name="time" value="13u"> 13u</p>
                </div>
                <div class="col-sm-4">
                  <p><input type="radio" name="time" value="13u30"> 13u30</p>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-sm-4">
                  <p><input type="radio" name="time" value="17u30"> 17u30</p>
                </div>
                <div class="col-sm-4">
                  <p><input type="radio" name="time" value="18u"> 18u</p>
                </div>
                <div class="col-sm-4">
                  <p><input type="radio" name="time" value="18u30"> 18u30</p>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-sm-4">
                  <p><input type="radio" name="time" value="19u"> 19u</p>
                </div>
                <div class="col-sm-4">
                  <p><input type="radio" name="time" value="19u30"> 19u30</p>
                </div>
                <div class="col-sm-4">
                  <p><input type="radio" name="time" value="20u"> 20u</p>
                </div>
              </div>
            </div>

          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="savechanges">Save changes</button>
        </div>
      </div>
    </div>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle1">Geef uw ordernummer in!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Ordernummer:</p>
          <div>
            <p><input type="text" id="ordernr" name="ordernummer" value=""></p>

          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="reservaties">Gaan</button>
        </div>
      </div>
    </div>
  </div>




  <!--MAP LEAFLET-->

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="jumbotron bg-white mt-4">
        <h2 class="mb-4 mt-2 fonttitle text-center" id="location">Location</h2>
        <hr>

        <div id="mapid"></div>
        <hr class="my-4">
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>


  <!--TEXT BLOCKS-->

  <div class="row mb-5">
    <div class="col-md-2"></div>
    <div class="col-md-2 ">
      <div class="card py-4 h-100">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h2 class="m-0 fonttitle">Adres</h2>
          <hr class="my-2">
          <div class="small text-black-50">'s Graventafelstraat 2 8980 Passendale</div>
        </div>
      </div>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-2 ">
      <div class="card py-4 h-100">
        <div class="card-body text-center">
          <i class="fas fa-envelope text-primary mb-2"></i>
          <h2 class="m-0 fonttitle">Email</h2>
          <hr class="my-2">
          <div class="small text-black-50">
            <a href="#">info@smartresto.com</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-2 ">
      <div class="card py-4 h-100">
        <div class="card-body text-center">
          <i class="fas fa-mobile-alt text-primary mb-2"></i>
          <h2 class="m-0 fonttitle">Telefoon</h2>
          <hr class="my-2">
          <div class="small text-black-50">051 30 10 82</div>
        </div>
      </div>
    </div>
  </div>

  <!--SCRIPTS-->

  <script>
    var mymap = L.map('mapid').setView([50.9080155, 3.0192866], 13);
    var marker = L.marker([50.9080155, 3.0192866]).addTo(mymap);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox.streets',
      accessToken: 'pk.eyJ1Ijoid2lmaXgiLCJhIjoiY2p2bXBreDhpMTQ1aDRjb2Z0NDA0bGI4ZiJ9.kT6w1wQwRpUTMVLouj9ndQ'
      
    }).addTo(mymap);
  </script>

  <script>
    // Check that service workers are registered
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('js/service-worker.js');
      });
    }


  </script>

  <script src="javascripts/order.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>