<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Smart Resto</title>

  <!-- RESET CSS -->
  <link rel="stylesheet" type="text/css" href="css/reset.css" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Leaflet's CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <!-- Leaflet's JS -->
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>

  <script src="javascripts/repos.js"></script>

  <script src="javascripts/scriptbestellingen.js"></script>

  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>


<body class="bg-dark">

  <!--NAVBAR-->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand fonttitle ml-3 mr-5" id="brand" href="/">S-R</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor" data-toggle="modal" data-target="#exampleModalCenter">Reserveren</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor" data-toggle="modal" data-target="#exampleModalCenter1">Reservaties</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Menu</a>
        <div class="dropdown-menu dropdown-menu-right text-right">
        </div>
      </li>
    </ul>
  </nav>

  <!--TITLE-->



  <!--Center jumbotron-->
  <div class="row">
    <div class="col-md-3">

      <div class="jumbotron bg-white mt-4 fullheight text-center">
        <h2 class="mb-4 mt-2 fonttitle" id="location">Details</h2>
        <hr>
        <h3 class="fonttitle">Ordernummer</h3>
        <p id="ordernummer"></p>
        <h3 class="fonttitle">Datum & tijd</h3>
        <p id="datum"></p>
        <h3 class="fonttitle">Aantal personen</h3>
        <p id="personen"></p>
        <h3 class="fonttitle">Prijs</h3>
        <p id="prijs">€ </p>
      </div>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-8">
      <div class="jumbotron bg-white mt-4 fullheight" style="overflow-y:scroll;">
        <h2 class="mb-4 mt-2 fonttitle text-center" id="location">Maaltijden</h2>
        <hr>
        <div class="row mb-4" id="maaltijden">

        </div>
      </div>
    </div>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Pick a date & time!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="">
            <p>Datum:</p>
            <input type="date" id="datepicker" name="day"><br>
            <br>
            <p>Aantal mensen:</p>
            <select class="form-control" id="exampleSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
            </select>
            <br>
            <p>Select a time:</p>
            <div>
              <div class="row mb-4">
                <div class="col-sm-4">
                  <p><input type="radio" name="time" value="11u"> 11u</p>
                </div>
                <div class="col-sm-4">
                  <p><input type="radio" name="time" value="11u30"> 11u30</p>
                </div>
                <div class="col-sm-4">
                  <p><input type="radio" name="time" value="11u30"> 12u</p>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-sm-4">
                  <p><input type="radio" name="time" value="12u30"> 12u30</p>
                </div>
                <div class="col-sm-4">
                  <p><input type="radio" name="time" value="13u"> 13u</p>
                </div>
                <div class="col-sm-4">
                  <p><input type="radio" name="time" value="13u30"> 13u30</p>
                </div>
              </div>
              <div class="row mb-4">
                  <div class="col-sm-4">
                    <p><input type="radio" name="time" value="17u30"> 17u30</p>
                  </div>
                  <div class="col-sm-4">
                    <p><input type="radio" name="time" value="18u"> 18u</p>
                  </div>
                  <div class="col-sm-4">
                    <p><input type="radio" name="time" value="18u30"> 18u30</p>
                  </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                      <p><input type="radio" name="time" value="19u"> 19u</p>
                    </div>
                    <div class="col-sm-4">
                      <p><input type="radio" name="time" value="19u30"> 19u30</p>
                    </div>
                    <div class="col-sm-4">
                      <p><input type="radio" name="time" value="20u"> 20u</p>
                    </div>
                  </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="savechanges">Save changes</button>
        </div>
      </div>
    </div>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle1">Geef uw ordernummer in!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Ordernummer:</p>
          <div>
            <p><input type="text" name="ordernummer" id="ordernr" value=""></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="reservaties">Gaan</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.getElementById("reservaties").onclick = nextpagereservations;
    function nextpagereservations() {
      ordernr = document.getElementById("ordernr").value;
      localStorage.setItem("ordernr", ordernr);
      window.location.href = "/reservations"
    }
    document.getElementById("datepicker").onload = function test() {
      document.getElementById("datepicker").minDate = 0;
    }

    document.addEventListener("DOMContentLoaded", myFunction); 3
    let prijs = 0;
    let totaal = 0;
    function myFunction() {
      setTimeout(function () {
        console.log("reached");
        let prijzen = document.getElementsByClassName("prijs");
        console.log("LENGTE: " + prijzen.length);
        for (let i = 0, len = prijzen.length; i < len; i++) {
          prijs = prijzen[i].innerText.replace(/\€/g, '');
          totaal = eval(totaal) + eval(prijs);
        }
        document.getElementById("prijs").innerText += totaal;
      }, 3000);
    }

  </script>

  <script src="javascripts/order.js"></script>

  <!--SCRIPTS-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>