#mapid {
    height: 530px;
}
#brand{
    font-size:2rem;
}

.row {
    margin-right: 0px !important;
}

.view img {
    max-height: 650px;
    border-radius: .3rem;
}

h1 {
    color: #ddd;
}

.cursor{
    cursor: pointer;
}

.fonttitle {
    font-family: Brush Script MT, Brush Script Std, cursive !important;
}

.jumbotron {
    background-color: #ddd !important;
}

.navbar {
    background-color: #ddd !important;
}

.card{
    background-color: #ddd !important;
}

#location{
    margin-top:0 !important;
    font-size:5rem;
}

.fullheight{
    height:85vh;
    margin-left:1rem;
}

.card{
    height:65vh;
}

.card-img-top{
    max-height: 300px;
}

